<div class="border my-4 pb-5">
  <h6 class="border-bottom text-center py-3">ジャンル検索</h6>
  <ul class="list-unstyled ml-5">
  <% genres.each do |genre| %>
    <%= link_to genre_path(genre.name) do %>
      <li class="my-2"><%= genre.name %></li>
    <% end %>
  <% end %>
  </ul>
</div>