<div class="container">
  <h2 class="my-4"><span class="bg-light">ジャンル編集</span></h2>

  <div class="row my-5">
    <div class="col-10">
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
      <table>
        <thead>
          <tr>
            <th class="col-2"></th>
            <th class="col-5"></th>
            <th class="col-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ジャンル名</td>
            <td class="actions text-center"><%= f.text_field :name, class: "form-control" %></td>
            <td class="actions text-center"><%= f.submit "変更を保存", class: "btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
</div>